---
import Layout from "@layouts/Layout.astro";
import { IconTicket, IconClock } from "@components/Icons";
import CustomLink from "@components/CustomLink.astro";
import IFramePodCats from "@components/IFramePodCats.astro";
import Carousel from "@components/Carousel";
import IFrameStore from "@components/IFrameStore.astro";
import TextHeader from "@components/TextHeader.astro";
import { PAGES } from "src/utils/constants";
import Hero from "@components/Hero.astro";
---

<Layout title="Los Pichy Boys" active={PAGES.HOME}>
  <Hero />

  <main class="overflow-hidden">
    <TextHeader />
    <section
      id="section-ticket"
      class="h-full lg:h-screen py-24 bg-gradient-to-r from-violet-500 grid place-content-center gap-10 relative"
    >
      <img
        src="/images/tickets.webp"
        alt="tickets"
        class="w-auto h-full max-h-[500px] rotate-12 opacity-5 absolute top-0 left-1/2"
        height={500}
        width={500}
      />

      <article class="flex items-center justify-center">
        <h1
          id="ticket"
          class="font-extrabold text-yellow-500 uppercase text-4xl md:text-8xl"
        >
          Tickets!
        </h1>
      </article>

      <article class="flex gap-10 items-start flex-wrap justify-center">
        <picture class="relative">
          <img
            src="/images/el-puesto-a-deo.webp"
            alt="el puesto a deo"
            class="absolute blur-md"
            height={700}
            width={327}
          />
          <img
            src="/images/el-puesto-a-deo.webp"
            alt="el puesto a deo"
            class="w-auto z-10 relative rounded-md overflow-hidden"
            height={700}
            width={327}
          />
        </picture>

        <article class="flex flex-col gap-5 justify-between px-3 md:px-0">
          <p id="ticket" class="text-white text-2xl md:text-5xl uppercase">
            Ultimas fechas
          </p>
          <div class="flex flex-col gap-1">
            <strong class="text-white text-lg md:text-2xl uppercase"
              >Teatro Trail</strong
            >
            <p class="text-white text-xl uppercase flex gap-2 ml-5">
              <IconClock width="1em" /> viernes <strong> 8:00pm</strong>
            </p>
            <p class="text-white text-xl uppercase flex gap-2 ml-5">
              <IconClock width="1em" />sabados<strong>8:30pm</strong>
            </p>
          </div>

          <CustomLink href="#" text="compralos aqui!">
            <IconTicket width={"2em"} />
          </CustomLink>
        </article>
      </article>
    </section>

    <section
      class="bg-gradient-to-b from-sky-500 to-sky-700 flex items-center flex-col relative py-20 px-3 xl:px-64"
    >
      <IFramePodCats />

      <div class="h-[1px] w-full rounded-2xl bg-sky-500 my-10"></div>
      <Carousel client:only="react" />
      <div class="h-[1px] w-full rounded-2xl bg-sky-500 my-10"></div>
      <IFrameStore />
    </section>
  </main>
</Layout>
