---
import Layout from "@layouts/Layout.astro";
import { Ticket, Clock } from "@components/Icons";
import CustomLink from "@components/CustomLink.astro";
---

<Layout title="Welcome to Astro.">
  <header class="h-screen overflow-hidden">
    <section
      id="description"
      class="absolute bottom-10 left-10 w-2/6 p-10 text-white flex gap-5 flex-col rounded-lg shadow-2xl"
    >
      <h1 class="font-extrabold text-3xl">Los Pichy Boys</h1>
      <blockquote class="italic font-extralight text-lg">
        Los influencers, los creativos, los más duros en las redes sociales, los
        activistas, los Cubanitos de YouTube, los comediantes, y ahora los
        podcasters internacionales con Somos Los Pichy Boys.
      </blockquote>
      <p class="text-sm">Alejandro Y Maikel, son Los Pichy Boys</p>
    </section>

    <video autoplay muted loop class="w-screen bg-center">
      <source src="/videos/pichyboy.mp4" />
    </video>
  </header>

  <main
    class="h-screen bg-gradient-to-r from-violet-500 grid place-content-center gap-10 relative overflow-hidden"
  >
    <Ticket
      width={"60em"}
      className="text-yellow-500 rotate-12 opacity-5 absolute top-0 left-1/2"
    />
    <section class="flex items-center justify-center gap-5">
      <h1 class="font-extrabold text-yellow-500 uppercase text-7xl">
        Tickets!
      </h1>
    </section>

    <section class="flex gap-10 items-start">
      <picture class="relative w-1/2 ml-10">
        <img
          src="/images/el-puesto-a-deo.webp"
          alt="el puesto a deo"
          class="absolute blur-md"
        />
        <img
          src="/images/el-puesto-a-deo.webp"
          alt="el puesto a deo"
          class="z-10 relative rounded-md overflow-hidden"
        />
      </picture>

      <article class="flex flex-col gap-5 h-full justify-between">
        <p class="text-white text-3xl uppercase">Ultimas fechas</p>
        <div class="flex flex-col gap-1">
          <strong class="text-white text-xl uppercase">Teatro Trail</strong>
          <p class="text-white text-xl uppercase flex gap-2">
            <Clock width="1em" /> viernes <strong> 8:00pm</strong>
          </p>
          <p class="text-white text-xl uppercase flex gap-2">
            <Clock width="1em" />sabados<strong>8:30pm</strong>
          </p>
        </div>

        <CustomLink href="#" text="compralos aqui!">
          <img src="/images/tickets.webp" alt="tickets" class="w-16" />
        </CustomLink>
      </article>
    </section>
  </main>

  <style>
    #description {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(10px);
    }
  </style>
</Layout>
