---
import { IconsFacebook, IconsInstagram, IconsYoutube, IconX } from "./Icons";
---

<footer class="flex flex-col items-center justify-center gap-5 bg-indigo-950">
  <section class="flex items-center justify-center gap-5">
    <a
      href="#"
      class="group flex items-center relative rounded-full bg-slate-700 p-2 overflow-hidden"
    >
      <IconsInstagram
        width={"24px"}
        className="z-10 text-violet-300 group-hover:text-white"
      />
      <div
        class="w-full h-full bg-orange-500 absolute translate-x-10 group-hover:-translate-x-2 transition-all"
      >
      </div>
    </a>

    <a
      href="#"
      class="group flex items-center relative rounded-full bg-slate-700 p-2 overflow-hidden"
    >
      <IconsYoutube
        width={"24px"}
        className="z-10 text-violet-300 group-hover:text-white"
      />
      <div
        class="w-full h-full bg-red-700 absolute translate-x-10 group-hover:-translate-x-2 transition-all"
      >
      </div>
    </a>

    <a
      href="#"
      class="group flex items-center relative rounded-full bg-slate-700 p-2 overflow-hidden"
    >
      <IconsFacebook
        width={"24px"}
        className="z-10 text-violet-300 group-hover:text-white"
      />
      <div
        class="w-full h-full bg-blue-600 absolute translate-x-10 group-hover:-translate-x-2 transition-all"
      >
      </div>
    </a>

    <a
      href="#"
      class="group flex items-center relative rounded-full bg-slate-700 p-2 overflow-hidden"
    >
      <IconX
        width={"24px"}
        className="z-10 text-violet-300 group-hover:text-white"
      />
      <div
        class="w-full h-full bg-black absolute translate-x-10 group-hover:-translate-x-2 transition-all"
      >
      </div>
    </a>
  </section>

  <a
    href="https://portafolio-fjmg84.vercel.app/"
    class="text-yellow-500 text-sm">development by fjmg</a
  >
</footer>
