<div id="section-store" class="flex gap-5 justify-center mt-16">
  <iframe
    class="h-[450px] w-[340px]"
    src="https://www-lospichyboys-com.filesusr.com/html/ca9f79_1246671fae8c8b71f312d3844983b565.html"
  ></iframe>

  <div class="flex flex-col gap-5 w-1/2 justify-center">
    <h1 id="ticket" class="text-yellow-500 text-8xl">La pichy tienda</h1>

    <p class="text-white text-3xl line-clamp-6">
      Todas las cosas que nos ponemos en el podcats y toda la mercancia oficial
      de
    </p>

    <p id="ticket" class="text-white text-5xl uppercase font-extrabold italic">
      memorias de la sierra
    </p>
  </div>
</div>
