<div class="lg:w-full lg:h-full w-1/2 flex justify-center items-center">
  <iframe
    width="600px"
    height="300px"
    src="https://open.spotify.com/embed/show/1upx5Tj53g3NkYyjITBzMM?utm_source=generator"
  ></iframe>
</div>
