---
import Title from "./Title.astro";
---

<div
  class="lg:w-full lg:h-full w-1/2 flex justify-center items-center flex-col gap-8"
>
  <Title id="podcast">Nuestro Podcast</Title>
  <iframe
    width="800px"
    height="400px"
    src="https://open.spotify.com/embed/show/1upx5Tj53g3NkYyjITBzMM?utm_source=generator"
  ></iframe>
</div>
