---
import CustomLink from "./CustomLink.astro";
import { IconStore } from "./Icons";
import Title from "./Title.astro";
---

<div
  id="section-store"
  class="flex lg:flex-row flex-col gap-5 justify-center items-center mt-16"
>
  <iframe
    class="h-[450px] w-[340px]"
    src="https://www-lospichyboys-com.filesusr.com/html/ca9f79_1246671fae8c8b71f312d3844983b565.html"
  ></iframe>

  <div class="flex flex-col gap-5 lg:w-1/2 w-full justify-center px-10">
    <Title id="store">La pichy tienda</Title>

    <p class="text-white text-xl line-clamp-6">
      Todas las cosas que nos ponemos en el podcats y toda la mercancia oficial
      de
    </p>

    <Title id="store" color="text-lime-200">memorias de la sierra</Title>

    <CustomLink href="#" text="visita nuestra tienda">
      <IconStore width="2em" />
    </CustomLink>
  </div>
</div>
