---
import CustomLink from "./CustomLink.astro";
import { IconAdvertisement } from "./Icons";

export interface NavbarProps {
  active: "/" | "/about_us";
}

const { active } = Astro.props;
---

<nav class="fixed top-0 w-full h-auto flex justify-around items-center z-50">
  <a href="/">
    <img
      src="/images/pichy-boys-banner.webp"
      alt="pichy boys banner"
      class="h-[64px]"
    />
  </a>

  <section>
    <ul class="flex gap-6 text-yellow-500 text-lg font-light transition-colors">
      <li
        class="group hover:text-violet-500 relative overflow-hidden flex h-[50px] items-center"
      >
        <a href="/" class:list={[{ "text-violet-500": active === "/" }]}>Home</a
        >
        <div
          class:list={[
            "w-full h-[1px] absolute bg-violet-500 transition-all",
            {
              "-bottom-7 group-hover:bottom-3": active !== "/",
              "bottom-3": active === "/",
            },
          ]}
        >
        </div>
      </li>

      <li
        class="group hover:text-violet-500 relative overflow-hidden flex h-[50px] items-center"
      >
        <a
          href="/about-us"
          class:list={[{ "text-violet-500": active === "/about_us" }]}
          >Los Pichys</a
        >
        <div
          class:list={[
            "w-full h-[1px] absolute bg-violet-500 transition-all",
            {
              "-bottom-7 group-hover:bottom-3": active !== "/about_us",
              "bottom-3": active === "/about_us",
            },
          ]}
        >
        </div>
      </li>

      <li
        class="group hover:text-violet-500 relative overflow-hidden flex h-[50px] items-center"
      >
        <a href="/#section-ticket">Tickets</a>
        <div
          class="w-full h-[1px] absolute bg-violet-500 -bottom-7 group-hover:bottom-3 transition-all"
        >
        </div>
      </li>

      <li
        class="group hover:text-violet-500 relative overflow-hidden flex h-[50px] items-center"
      >
        <a href="#">Serrano</a>
        <div
          class="w-full h-[1px] absolute bg-violet-500 -bottom-7 group-hover:bottom-3 transition-all"
        >
        </div>
      </li>

      <li
        class="group hover:text-violet-500 relative overflow-hidden flex h-[50px] items-center"
      >
        <a href="/#section-store">La Pichy Tienda</a>
        <div
          class="w-full h-[1px] absolute bg-violet-500 -bottom-7 group-hover:bottom-3 transition-all"
        >
        </div>
      </li>
    </ul>
  </section>

  <CustomLink
    href="mailto:sales@lospichyboys.com?subject=Me ineteresa informacion sobre anuncions."
    text="anúnciate"
  >
    <IconAdvertisement width={"2em"} />
  </CustomLink>
</nav>

<style>
  nav {
    box-shadow:
      0px 5px 50px -5px rgba(0, 0, 0, 0.1),
      0px 0px 0 1px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }
</style>
