<section class="fixed top-1/3 right-3 flex gap-3 flex-col z-40">
  <picture class="group relative rounded-full overflow-hidden">
    <img
      src="/images/youtube.webp"
      alt="youtube"
      class="w-[64px] translate-x-0 group-hover:translate-x-20 transition-all"
    />
    <img
      src="/images/youtube_back.webp"
      alt="youtube"
      class="w-[64px] absolute -left-20 group-hover:left-0 top-0 transition-all"
    />
  </picture>
  <picture class="group relative rounded-full overflow-hidden">
    <img
      src="/images/vip.webp"
      alt="vip"
      class="w-[64px] translate-x-0 group-hover:translate-x-20 transition-all"
    />
    <img
      src="/images/vip_back.webp"
      alt="vip"
      class="w-[64px] absolute -left-20 group-hover:left-0 top-0 transition-all"
    />
  </picture>

  <picture class="group relative rounded-full overflow-hidden">
    <img
      src="/images/podcast.webp"
      alt="podcast"
      class="w-[64px] translate-x-0 group-hover:translate-x-20 transition-all"
    />
    <img
      src="/images/podcast_back.webp"
      alt="podcast"
      class="w-[64px] absolute -left-20 group-hover:left-0 top-0 transition-all"
    />
  </picture>
</section>
