<!-- rgb(203 127 217); bg-[#CB7FD9]-->
<section class="top-0 relative">
  <img
    src="public/images/lodpichyboys-1024x1024.jpg"
    alt="lpb"
    class="w-full"
  />

  <!-- <div class="flex justify-center p-10 py-20">
    <p
      class="italic font-extralight lg:text-3xl text-xl w-full min-w-[320px] max-w-[800px] flex flex-col text-yellow-400"
    >
      Los influencers, los creativos, los más duros en las redes sociales, los
      activistas, los Cubanitos de YouTube, los comediantes, y ahora los
      podcasters internacionales con Somos Los Pichy Boys.<span
        class="font-bold"
      >
        Alejandro Y Maikel, son Los Pichy Boys
      </span>
    </p>
  </div> -->

  <style>
    #description {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(10px);
    }
  </style>
</section>
