---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import SocialMedias from "@components/SocialMedias.astro";
import { ViewTransitions } from "astro:transitions";

const { title, active } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      type="text/css"
      charset="UTF-8"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar active={active} />
    <SocialMedias />
    <ViewTransitions />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
    scroll-behavior: smooth;
  }

  #ticket {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  }
</style>
