---
import CustomLink from "@components/CustomLink.astro";
import Footer from "@components/Footer.astro";
import { IconAdvertisement } from "@components/Icons";
import Navbar from "@components/Navbar";
import SocialMedias from "@components/SocialMedias.astro";
import { ViewTransitions } from "astro:transitions";

const { title, active } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link
      rel="preload"
      href="/fonts/LuckiestGuy-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="preload"
      href="/images/ale.webp"
      as="image"
      type="image/webp"
      fetchpriority="high"
    />
    <link
      rel="preload"
      href="/videos/pichyboy.mp4"
      as="video"
      type="video/mp4"
      fetchpriority="high"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar active={active} client:load>
      <CustomLink
        href="mailto:sales@lospichyboys.com?subject=Me ineteresa informacion sobre anuncions."
        text="anúnciate"
      >
        <IconAdvertisement width={"2em"} />
      </CustomLink>
    </Navbar>
    <SocialMedias />
    <ViewTransitions />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  .geist {
    font-family: "Geist";
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  html {
    font-family: "Geist";
    background-size: 224px;
    scroll-behavior: smooth;
  }

  nav {
    box-shadow:
      0px 5px 50px -5px rgba(0, 0, 0, 0.1),
      0px 0px 0 1px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }

  .show_menu {
    transform: translateX(0);
  }
</style>
